{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/new_partenaire/stylesheets/screen.css') }}">
{% endblock %}

{% block mainContent %}

    <section class="new-partenaire">
        <h1>Nouveau partenaire</h1>

    </section>

{% endblock %}

