@import "compass";
@import "../../../sass/base";


section.partenaires {
  //height: 1000px;
  width: $section-w*3;
  margin: 60px auto;
  padding-bottom: 40px;
  cursor: default;
  background-color: #a7a9ab;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;

  h1{ @include section-header(#7084bc, #030798) }

  form {
    margin: 0px 70px;
    //width: 350px;
    section {
      width: 350px;
      height: 455px;
      margin-top: 50px;
      margin-bottom: 50px;
      //border: 1px solid red;
      * { margin: 0; padding: 0; width: 100% }
      p { margin-top: 20px }
      fieldset {
        height: 100%;
        padding: 20px 20px 20px 20px;
        position: relative;
        border: 5px solid #939598;
        legend {
          //width: 200px;
          //margin: auto;
          margin: ((-80px) / 2) 0 10px 0;
          height: 35px;
          line-height: 35px;
          display: block;
          position: absolute;
          width: auto;
          left: 85px;
          right: 85px;
          color: $blue;
          text-align: center;
          text-transform: uppercase;
          background-color: #939598;
          border: 0px;
          font-weight: bold;
          font-size: 18px;
        }
      }

    }
    .vous { float: left; }
    .structure { float: right; }
    .identifiants {
      clear: both;
      width: auto;
      height: auto;
      margin-top: 40px;
      .numsiret {
        width: 45%;
        float: left;
      }
      .mdp {
        width: 45%;
        float: right;
      }

    }





    div.submit-btn-div {
      text-align: center;
      .submit-btn-partenaires {
        @include submit-btn(#5183bf, #274598, 150px);
        //margin-top: 25px;
      }
    }

  }

}
