p
{
    color: #4f4a7d;
    font-family: arial, verdana, sans-serif;
    font-size: small;
    font-weight: bold;
}

/* Section */
.depose-offre-container
{
    background-color: #cccdcf;
    width: 700px;
    margin: 0 auto;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* Autour du titre */
.depose-offre-header
{
    width: 100%;
    height: 50px;
    background: url("images/depose_offre_header.png");
    text-align: center;
    line-height: 50px;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: #e2e9eb;
    margin-top: 0%;
}

/* Titre */
h1
{
    color: #d3d4d4;
    text-align: center;
}

/* En pointant sur le titre */
h1:hover
{
    background: url("images/depose_offre_header2.png");
}

/* Zones de saisie */
.block_haut
{
    width: 700px;
    border: 1px solid transparent;
    margin: 0 auto;
}

/* Partie gauche des zones de saisie */
.block_gauche
{
    margin-left: 30px;
}

/* Partie droite des zones de saisie */
.block_droit
{
    margin-left: 60px;
}
.block_gauche, .block_droit
{
    display: inline-block;
    line-height: 0px;
    border: groove transparent;
    text-align: left;
}

/* Boutons radio du haut */
.radio1
{
    margin-left: 20px;
}

/* Titre de la zone de texte */
.descriptif
{
    text-align: center;
}

/* Zone de texte */
.block_bas-superieur
{
    text-align: center;
    width: 700px;
    margin: 0 auto;
    line-height: 0px;
    border: 1px solid transparent;
}
textarea
{
    width: 600px;
    height: 80px;
    margin: 0 auto;
}

/* Note en rouge */
.attention
{
    color: #ed1c24;
    font-size: small;
    font-family: serif;
    margin-right: 180px;
}

/* Questions */
.block_bas-inferieur
{
    text-align: left;
    width: 650px;
    margin-left: 40px;
    margin-top: 10px;
    line-height: 0px;
    border: 1px solid transparent;
}

/* Boutons radio du bas */
.radio2
 {
     margin-left: 30px;
     padding-bottom: 10px;
 }

/* Div du bouton envoyer */
.bouton_envoi
{
    text-align: center;
    border: groove transparent;
    width: 150px;
    margin: 0 auto;
    padding-bottom: 15px;
}













