.depose-offre-container{
    background-color: #cccdcf;
    width: 700px;
    height: 600px;
    margin: auto;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}
.depose-offre-header{
    width: 100%;
    height: 50px;
    background: url("image/depose_offre_header.png");
    text-align: center;
    line-height: 50px;
    font-family: arial;
    font-size: 20px;
    font-weight:bold;
    color:#e2e9eb;
}

.depose-offre-content{
    /*height: 100px;*/
    /*margin: 0px 50px;*/

    border: 1px solid red;
    display: inline-block;
}

.depose-offre-container p{
    padding: 0;
    margin: 0;
    width: 250px;
}

.depose-offre-content-left{
    border: 1px solid green;
    text-align: left;
    width: 350px;
    float: left;
    font-family: arial, verdana, sans-serif;
    font-size: small;
    font-weight:bold;
    color: #27256b ;
}

.depose-offre-content-right{
    border: 1px solid green;
    text-align: left;
    width: 250px;
    float: right;
    font-family: arial, verdana, sans-serif;
    font-size: small;
    font-weight:bold;
    color: #27256b ;

}

.depose-offre-content-down{
    /*text-align: left;*/
    padding-left: 45px;
    padding-right: 45px;
    border: 1px solid green;
    clear: both;
}

.title-depose-offre-content-down p{
    /*margin-top: 50px;*/
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    clear: both;
    /*margin-outside: 30px;*/
    border: 1px solid green;
    text-align:right;
    /*width: auto;*/
    /*margin: auto;*/
    width: 185px;
    float: left;
    height: 30px;
    line-height: 30px;
    font-family: arial, verdana, sans-serif;
    font-size: small;
    font-weight:bold;
    color: #27256b ;

}


