/* line 43, ../../sass/_base.scss */
html, body {
  background-color: #a7a9ab;
}

/* line 4, ../sass/screen.scss */
.section-container {
  height: 350px;
  width: 960px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 11, ../sass/screen.scss */
.section-container section {
  width: 300px;
  height: 350px;
  margin-left: 30px;
  background-color: #a7a9ab;
  float: left;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
/* line 21, ../sass/screen.scss */
.section-container section:first-child {
  margin-left: 0px;
}
/* line 22, ../sass/screen.scss */
.section-container section div {
  margin: 20px 15px 0 15px;
}
/* line 25, ../sass/screen.scss */
.section-container section div p {
  margin: 0;
  padding: 0;
}
/* line 28, ../sass/screen.scss */
.section-container section div p label {
  color: #27246a;
  font-weight: bolder;
  font-size: 15px;
}
/* line 34, ../sass/screen.scss */
.section-container section div input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: 0;
  outline: none;
}
/* line 43, ../sass/screen.scss */
.section-container section div .pass-oublie {
  color: #27246a;
  font-weight: bolder;
  font-size: 10px;
  text-decoration: underline;
  float: right;
}
/* line 55, ../sass/screen.scss */
.section-container section div.submit-btn-div {
  margin: 40px 15px;
  text-align: center;
}
/* line 58, ../sass/screen.scss */
.section-container section div.submit-btn-div .submit-btn-partenaires {
  height: 45px;
  width: 150px;
  display: inline-block;
  border: 0px;
  outline: 0px;
  font-weight: bolder;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #27246a;
  font-size: 15px;
  line-height: 45px;
  background-color: #5183bf;
  text-decoration: none;
}
/* line 23, ../../sass/_base.scss */
.section-container section div.submit-btn-div .submit-btn-partenaires:hover {
  color: #d3d4d4;
  background-color: #274598;
}
/* line 59, ../sass/screen.scss */
.section-container section div.submit-btn-div .submit-btn-entreprises {
  height: 45px;
  width: 200px;
  display: inline-block;
  border: 0px;
  outline: 0px;
  font-weight: bolder;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #27246a;
  font-size: 15px;
  line-height: 45px;
  background-color: #ea7d42;
  text-decoration: none;
  margin-top: 70px;
}
/* line 23, ../../sass/_base.scss */
.section-container section div.submit-btn-div .submit-btn-entreprises:hover {
  color: #d3d4d4;
  background-color: #a1311f;
}
/* line 60, ../sass/screen.scss */
.section-container section div.submit-btn-div .submit-btn-jeunes {
  height: 45px;
  width: 150px;
  display: inline-block;
  border: 0px;
  outline: 0px;
  font-weight: bolder;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #27246a;
  font-size: 15px;
  line-height: 45px;
  background-color: #2bb673;
  text-decoration: none;
}
/* line 23, ../../sass/_base.scss */
.section-container section div.submit-btn-div .submit-btn-jeunes:hover {
  color: #d3d4d4;
  background-color: #057744;
}
/* line 62, ../sass/screen.scss */
.section-container section div.inscription-div {
  margin-top: 0px;
  text-align: right;
}
/* line 65, ../sass/screen.scss */
.section-container section div.inscription-div a {
  color: #27246a;
  font-weight: bolder;
  font-size: 10px;
  text-decoration: underline;
}
/* line 78, ../sass/screen.scss */
.section-container .partenaires h1 {
  height: 50px;
  margin: 0;
  padding: 0;
  color: #d3d4d4;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(#7084bc, #030798);
}
/* line 83, ../sass/screen.scss */
.section-container .entreprises h1 {
  height: 50px;
  margin: 0;
  padding: 0;
  color: #d3d4d4;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(#f2a677, #a33220);
}
/* line 88, ../sass/screen.scss */
.section-container .jeunes h1 {
  height: 50px;
  margin: 0;
  padding: 0;
  color: #d3d4d4;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(#65b68b, #02703f);
}
