.section-jeune /* Section */
{
    background-color: #cccdcf;
    width: 700px;
    margin: 0 auto;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.jeune-header /* Autour du titre */
{
    width: 100%;
    height: 50px;
    background-color: #148850;
    text-align: center;
    line-height: 50px;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 0%;
}
h1 /* Titre */
{
    color: #d3d4d4;
    text-align: center;
}

.block_haut /* Zones de saisie */
{
    width: 700px;
    border: 1px solid transparent;
    margin: 0 auto;
}
.block_gauche /* Partie gauche des zones de saisie */
{
    margin-left: 30px;
}
.block_droit /* Partie droite des zones de saisie */
{
    margin-left: 60px;
}
.block_gauche, .block_droit
{
    display: inline-block;
    line-height: 0px;
    border: groove transparent;	
    text-align: left;
}
.radio1 /* Boutons radio du haut */
{
    margin-left: 20px;
}

.block_bas-superieur /* Zone de texte */
{
    text-align: center;
    width: 700px;
    margin: 0 auto;
    line-height: 0px;
    border: 1px solid transparent;
}


.block_bas-inferieur /* Questions */
{
    text-align: left;
    width: 650px;
    margin-left: 40px;
    margin-top: 10px;
    line-height: 0px;
    border: 1px solid transparent;
}
.radio2 /* Boutons radio du bas */
 {
     margin-left: 30px;
     padding-bottom: 10px;
 }
.bouton_envoi /* Bouton envoyer */
{
    text-align: center;
    border: groove transparent;
    width: 150px;
    margin: 0 auto;
    padding-bottom: 10px;
}
p
{
    color: #4f4a7d;
    font-family: arial, verdana, sans-serif;
    font-size: small;
    font-weight: bold;
}

fieldset{
	border: 3px solid #939598;
}








